/* 
  --primary: #215170;
  --dark-blue: #103953;
  --blue: #406e8c;
  --light-blue: #7098b2;
  --secondary-bg: #dde9eb;
  --primary-bg: #ffffff;
  --alternative-bg: #e8e9e9;
  --text: #303030;
  --primary-transparent: rgba(33, 81, 112, 0.8);
  --text-transparent: rgba(48, 48, 48, 0.8);
*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}